.products-boards .top-boards.header {
    background: url('../img/boards.jpg') no-repeat center;
    background-size: cover;
    height: 500px;
    display: flex;
    align-items: center;  
    justify-content: center;
  }

.boards {
    display: flex;
    flex-wrap: wrap; 
}

.boards .item {
    flex-basis: 29%;
    display: flex;
    flex-direction: column;
    margin: 1em;   
    opacity: 0;
    transition: opacity 0.4s ease-in;
}

.boards .item .cart,
.boards .item .favourite {
    flex-basis: 50%;
}

@media screen and (max-width: 768px) {
    .boards {
        justify-content: center;
    }
    .boards .item {
        flex-basis: 40%;
    }
}

body.loaded .boards .item {
    opacity: 1;
    animation: zoomin 1s ease-in;
}

body.loaded .boards li:nth-child(1) { transition-delay: 0.2s;}
body.loaded .boards li:nth-child(2) { transition-delay: 0.4s;}
body.loaded .boards li:nth-child(3) { transition-delay: 0.6s;}
body.loaded .boards li:nth-child(4) { transition-delay: 0.8s;}
body.loaded .boards li:nth-child(5) { transition-delay: 1s;}
body.loaded .boards li:nth-child(6) { transition-delay: 1.2s;}

body.loaded .boards li:nth-child(1) { animation-delay: 0.2s;}
body.loaded .boards li:nth-child(2) { animation-delay: 0.4s;}
body.loaded .boards li:nth-child(3) { animation-delay: 0.6s;}
body.loaded .boards li:nth-child(4) { animation-delay: 0.8s;}
body.loaded .boards li:nth-child(5) { animation-delay: 1s;}
body.loaded .boards li:nth-child(6) { animation-delay: 1.2s;}

.boards .item a {
    display: block;
    width: 100%;
}

.boards .item img {
    display: block;
    height: auto;
    width: 100%;
}


@keyframes zoomin {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: translateX(1);
        opacity: 1;
    }
}

.add {
    display: flex;
    margin-top: auto;
}

.add .cart,
.add .favourite {
    flex: 1 1 auto;
    background: #144250;
    color: #FFF;
    height: 40px;
    border: 1px solid #FFF;
    outline: none;
}

.add .cart:hover,
.add .cart:focus,
.add .favourite:hover,
.add .favourite:focus {
    cursor: pointer;
    background: #FFF;
    color: #144250;
    border-color: #144250;
}


.add .cart::before {
    display: block;
    content: '\f07a';
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
}

.add .favourite::before {
    display: block;
    content: '\f004';
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
}