.wrapper {
    max-width: 70em;
    margin: 0 auto;
    padding: 0 2em;
}

li {
    list-style: none outside;
}

a {
    text-decoration: none;
}

.home-img {
    background: url('../img/home-img.jpg') no-repeat center;
    background-size: cover;
    height: 1000px;
}