<ul class="top-products">
    <li class="products">
        <a href="boards.html" class="img-container">
            <img src="{{site.baseurl}}/img/boards.jpg" alt="boards">
        </a>
        <p>Boards</p>
        <a href="boards.html" class="btn items">See more</a>
    </li>
    <li class="products">
        <a href="kites.html" class="img-container">
            <img src="{{site.baseurl}}/img/kites.jpg" alt="kites">
        </a>
        <p>Kites</p>
        <a href="kites.html" class="btn items">See more</a>
    </li>
</ul>   