<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{site.title}}</title>
    <link rel="stylesheet" href="{{site.baseurl}}/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="{{site.baseurl}}/scss/site.scss">
    <script src="{{ site.baseurl }}/scripts/site.js"></script>
</head>
<body class="
    {% if page.title %}page page-{{page.title | slugify }}{% endif %}
    {% if page.home %}home{% endif %}

  ">

  <div class="site">
      <input type="checkbox" id="nav-toggle" class="nav-toggle">
      <header class="site-header">
          <label for="nav-toggle" class="nav-toggle-button">
              <span class="open"></span>
              <span class="close"></span>
          </label>
          <nav class="site-nav pages">
              <ul>
                {% assign nav = site.pages | sort:"order" %}
                  {% for item in nav %}
                    {% if item.title and item.nomainnav != 1 %}
                      <li{% if item.url == page.url %} class="selected"{% endif %}>
                        <a href="{{ site.baseurl }}{{ item.url }}">{{ item.title }}</a>
                        {% if item.products %}
                          <ul class="nav-products">
                            <li><a href="/surfshop/products/boards.html">Boards</a></li>
                            <li><a href="/surfshop/products/kites.html">Kites</a></li>
                          </ul>
                        {% endif %}
                      </li>
                  {% endif %}
                {% endfor %}
              </ul>
            </nav>

          <h1 class="site-title">
            <a href="{{site.baseurl}}/">{{site.title}}</a>
          </h1>

          <ul class="site-nav icons">
            {% for page in site.pages %}
              {% if page.icon %}
              <li{% if item.url == page.url %} class="selected"{% endif %}>
                {% if page.icon %}
                  <a href="{{ site.baseurl }}/{{ page.url }}">
                    {% if page.icon %}<i class="fas {{ page.icon }}"></i>{% endif %}   
                  </a>
                {% endif %}
              </li>
              {% endif %}
            {% endfor %}
          </ul>
          
      </header>
      <div class="spacer"></div>
      <main class="site-main">

        <!-- {% if page.title %}
        <h1>{{ page.title }}</h1>
        {% endif %} -->

          {{content}}
      </main>

      <footer class="site-footer">
        <div class="newsletter">
          <p>Susbscribe to our newsletter for all insights</p>
          <form action="post">
              <input class="email" type="email" name="email" placeholder="Enter your email">
              <input type="submit" value="GO">
          </form>
        </div>
        <div class="follow-us">
          <p>Follow us</p> 
          <ul class="media">
            <li><a href="#"><i class="fab fa-facebook-square"></i></a></li>
            <li><a href="#"><i class="fab fa-twitter-square"></i></a></li>
            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
            <li><a href="#"><i class="fab fa-youtube"></i></a></li>
            <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
          </ul>
        </div>
        <div class="site-links">
          <p>Site Links</p>
          <ul>
            <li><a href="/surfshop/products/">Products</a></li>
            <li><a href="/surfshop/team/">Team</a></li>
            <li><a href="/surfshop/events/">Events</a></li>
            <li><a href="/surfshop/contacts/">Contacts</a></li>
          </ul>
        </div>
        <div>
          
        </div>
        <p class="copyright">&copy; 2019 <a href="/">{{site.title}}</a></p>
      </footer>
  </div>

</body>
</html>