.products-boards .top-boards.header {
    background: url('../img/boards.jpg') no-repeat center;
    background-size: cover;
    height: $page-header-hight;
    @include display(flex);
 }

.boards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    & .item {
        flex-basis: 29%;
        display: flex;
        flex-direction: column;
        margin: 1em;   
        opacity: 0;
        transition: opacity 0.4s ease-in;
    
        // & p {
        //     height: 100px;
        //     overflow: auto;
        // }
        & a {
            display: block;
            width: 100%;
        }
        
        & img {
            display: block;
            height: auto;
            width: 100%;
        }

        & .cart,
        & .favourite {
            flex-basis: 50%;
        }

        body.loaded & {
            opacity: 1;
            animation: zoomin 0.5s ease-in;
        }
    }
}

@for $i from 1 through 6 {
    body.loaded .boards li:nth-child(#{$i}) {
        transition-delay: $i * 0.2s;
    }
}

@for $i from 1 through 6 {
    body.loaded .boards li:nth-child(#{$i}) {
        animation-delay: $i * 0.2s;
    }
}

.add {
    display: flex;
    margin-top: auto;

    & .cart,
    & .favourite {
        flex: 1 1 auto;
        background: $base-text-color;
        color: $secondary-text-color;
        height: 40px;
        border: 1px solid $secondary-text-color;
        outline: none;
    }

    & .cart:hover,
    & .cart:focus,
    & .favourite:hover,
    & .favourite:focus {
        cursor: pointer;
        background: $secondary-text-color;
        color: $base-text-color;
        border-color: $base-text-color;
    }
    
    & .cart::before {
        display: block;
        content: '\f07a';
        @include font(icons);

    }
    
    & .favourite::before {
        display: block;
        content: '\f004';
        @include font(icons);
    }
}
