.btn {
    color: $secondary-text-color;
    border: 2px solid $secondary-text-color;
    font-weight: 900;
    font-size: 1.2em;
    padding: 0.3em 0.5em;
    border-radius: 0.2em;
    opacity: 0;
    transition: color 0.3s ease-in, border 0.3s ease-in, box-shadow 0.3s ease-in, opacity 0.3s ease-in;
}

.products:hover .btn,
.link:hover .btn.learn-more {
    opacity: 1;
    display: block;
    color: $secondary-text-color;
    border: 2px solid $secondary-text-color;
}

.btn.items {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
}

.btn.learn-more {
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    
}

.link:hover .btn.learn-more {
    color: #000;
    border: 2px solid #000;
}

.submit {
    border: 1px solid $base-text-color;
    background: $base-text-color;
    color: $secondary-text-color;
    text-transform: uppercase;
    font-weight: 900;
    padding: 0.5em 1.2em;
    border-radius: 0.5em;
    margin-top: 2em;
    outline: none;
}

.submit:hover,
.submit:focus {
    border: 1px solid $base-text-color;
    background: transparent;
    color: $base-text-color;
    cursor: pointer;
}