.cart-content {
    display: flex;
    align-items: center;
    padding: 1em;
    border: 1px solid #144250;
}

.product-image {
    height: 200px;

    & img {
        display: block;
        height: 100%;
        width: auto;
        margin-right: 2em;
    }
}

.size {
    display: block;
    border: none;
    border-bottom: 1px solid #144250;
    width: 100px;
    height: 30px;
    outline: none;
    padding-left: 0.5rem;
    margin-bottom: 1em;
}

.related-items {
    display: flex;
    justify-content: center;

    & li {
        flex-basis: 29%;
    }

    & img {
        display: block;
        width: 100%;
    }

}


