.contact-us {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    & h2 {
        flex: 1 0 100%;
    }
}

input.email.contacts,
input.name.contacts {
    border: 1px solid $base-text-color;
} 

textarea {
    padding-left: 1.5rem;
    width: 300px;
    border-color: $base-text-color;

    &::placeholder {
        font-size: 1.2em;
        color: $base-text-color;
    }

    &:focus {
        border-color: $link-hover-color;
    }
}

.submit.message {
    display: block;
    margin-top: 1em;
}

.address {
    margin-right: 3em;
}