.surf-events {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.events .header {
    background: url('../img/events.jpg') no-repeat center;
    background-size: cover;
    height: 500px;
    display: flex;
    align-items: center;  
    justify-content: center;
}

.calendar {
    margin: 2em 0 4em 0;

    & .month {
        text-align: center;
        margin-bottom: 1em;
        font-size: 1.5em;
    }

    & .day,
    & .date {
        display: grid;
        grid-template-columns: repeat(7, 125px);
        grid-gap: 1.3em;

        @include bp(desktop) {
            grid-template-columns: repeat(7, 100px);
            grid-gap: 0.9em;
        }

        @include bp(tablet) {
            grid-template-columns: repeat(7, 80px);
            grid-gap: 0.9em;
        }

        @include bp(mobile) {
            grid-template-columns: repeat(7, 50px);
            grid-gap: 0.3em;
        } 
    }

    & .date {
        grid-template-rows: repeat(5, 85px);

        @include bp(desktop) {
            grid-template-rows: repeat(5, 70px);
            font-size: 1em;
        }

        @include bp(tablet) {
            grid-template-rows: repeat(5, 80px);
        }

        @include bp(mobile) {
            grid-template-rows: repeat(5, 90px);
        } 

        & a {
            display: block;
            color: #144250;
        }
    }
}

@media screen and (max-width: 385px) {
    .calendar  {
        display: none;
    }
}

.calendar .day li,
.calendar .date li {
    text-align: center;
}

.calendar .date li {
    color: #144250;
    border: 1px solid #144250;
}

.calendar .date li:hover {
    background: #144250;
    color: #FFF;
}

.calendar .date li:hover a {
    color: #FFF;
}

.calendar .date li:nth-child(1) {
    grid-column: 4;
}

.article {
    transform: translateY(0);
    box-shadow: 0;
    transition: transform 0.3s ease-in, box-shadow 0.3s ease-in;
    max-width: 100%;

    &:hover {
        transform: translateY(-0.3em);
        box-shadow: 0 12px 20px -12px  rgba(38,38,62,.35)
    }

    & a {
        display: flex;
        align-items: center;  
        justify-content: center;
    }
}

.surfing {
    margin-right: auto;
}

.ocean {
    margin-left: auto;
}

.surf-league {
    flex: 0 0 50%;

    & img {
        display: block;
        height: auto;
        width: 100%;
    }
}

.article .description {
    font-size: 1.5em;
    padding: 0.5em 1em;
}

@media screen and (max-width: 445px) {
    .article a {
        flex-direction: column;
    }
}

.video {
    margin-top: 2em;
}

iframe {
    @include bp(laptop) {
        width: 480px;
        height: 200px;
    }

    @include bp(smartphone) {
        width: 200px;
        height: 100px;
    }
}
