.surf-events {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.events .header {
    background: url('../img/events.jpg') no-repeat center;
    background-size: cover;
    height: 500px;
    display: flex;
    align-items: center;  
    justify-content: center;
}

.calendar {
    margin: 2em 0 4em 0;
}

.calendar .month {
    text-align: center;
    margin-bottom: 1em;
    font-size: 1.5em;
}

.calendar .day,
.calendar .date {
  display: grid;
  grid-template-columns: repeat(7, 125px);
  grid-gap: 1.3em;
} 

.calendar .date {
    grid-template-rows: repeat(5, 85px)
}

.calendar .date a {
    display: block;
    color: #144250;
}

@media screen and (max-width: 1024px) {
    .calendar .day,
    .calendar .date {
        grid-template-columns: repeat(7, 100px);
        grid-gap: 0.9em;
    } 

    .calendar .date {
        grid-template-rows: repeat(5, 70px);
        font-size: 1em;
    }
}

@media screen and (max-width: 768px) {
    .calendar .day,
    .calendar .date {
        grid-template-columns: repeat(7, 80px);
        grid-gap: 0.9em;
    } 

    .calendar .date {
        grid-template-rows: repeat(5, 80px);
    }
}

@media screen and (max-width: 640px) {
    .calendar .day,
    .calendar .date {
        grid-template-columns: repeat(7, 50px);
        grid-gap: 0.3em;
    } 

    .calendar .date {
        grid-template-rows: repeat(5, 90px);
    }
}

@media screen and (max-width: 385px) {
    .calendar  {
        display: none;
    }
}

.calendar .day li,
.calendar .date li {
    text-align: center;
}

.calendar .date li {
    color: #144250;
    border: 1px solid #144250;
}

.calendar .date li:hover {
    background: #144250;
    color: #FFF;
}

.calendar .date li:hover a {
    color: #FFF;
}

.calendar .date li:nth-child(1) {
    grid-column: 4;
}

.article {
    transform: translateY(0);
    box-shadow: 0;
    transition: transform 0.3s ease-in, box-shadow 0.3s ease-in;
    max-width: 100%;
}

.article:hover {
    transform: translateY(-0.3em);
    box-shadow: 0 12px 20px -12px  rgba(38,38,62,.35)
}

.surfing {
    margin-right: auto;
}

.ocean {
    margin-left: auto;
}

.article a {
    display: flex;
    align-items: center;  
    justify-content: center;
}

.surf-league {
    flex: 0 0 50%;
}

.surf-league img {
    display: block;
    height: auto;
    width: 100%;
}

.article .description {
    font-size: 1.5em;
    padding: 0.5em 1em;
}

@media screen and (max-width: 445px) {
    .article a {
        flex-direction: column;
    }
}

.video {
    margin-top: 2em;
}

@media screen and (max-width: 960px) {
    iframe {
        width: 480px;
        height: 200px;
    }
}

@media screen and (max-width: 480px) {
    iframe {
        width: 200px;
        height: 100px;
    }
}
