h2 {
    text-align: center;
    color: $base-text-color;
    text-transform: uppercase;
    font-weight: 900;
}

p.description {
    font-size: 2em;
    color: $base-text-color;
    margin: 0 auto;
    text-align: center;
}

.img-container:after {
    position: absolute;
    display: block;
    content: '';
    top:0; left: 0; right: 0; bottom: 0;
    background: rgba(20,66,80, 0.6);
    z-index: 2;
    opacity: 1;
    transition: opacity 0.3s ease-in;
}

.img-container:hover:after {
    opacity: 0;
}

.home-img {
    background: url('../img/home-img.jpg') no-repeat center;
    background-size: cover;
    height: $page-header-hight;
}

.top-products ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @include bp(tablet) {
        flex-direction: column;
    }
}

.top-products .products {
    flex-basis: 49%;
    position: relative;
    border-radius: 0.2em;
    overflow: hidden;
    margin: 2em 0;
}

.top-products img {
    display: block;
    width: 100%;
}

.products p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    transition: top 0.3s ease-in;
    z-index: 5;
    font-size: 2.2em;
    font-weight: 100;
    color: $secondary-text-color;
}

.products:hover p {
    top: 35%;
    pointer-events: none;
}

.our-team .img-container {
    display: block;
    content: '';

    &::after {
        border-radius: 0.2em;
    }
}

.link {
    position: relative;

    & p {
        position: absolute;
        top: 50px;
        left: 50%;
        transform: translateX(-50%); 
        transition: top 0.3s ease-in;
        z-index: 5;
        font-size: 2em;
        font-weight: 900;
        color: #000;
        font-size: 2.2em;
        font-weight: 100;
    }

    &:hover p {
        top: 100px;
        pointer-events: none;

    }
}

.our-team img {
    display: block;
    width: 100%;
    border-radius: 0.2em;
} 

.surfing-events .wrapper {
    display: flex;

    & .article a {
        display: flex;
        flex-direction: column;
    }
}

.surfing-events .surf-league .description {
    padding-top: 2em;
}