.products-kites .top-kites.header {
    background: url('../img/kites.jpg') no-repeat center;
    background-size: cover;
    height: $page-header-hight;
    @include display(flex);
  }

.kites {
    display: flex;
    flex-wrap: wrap; 
    padding-top: 2em;
    justify-content: center;

    & .item {
        flex-basis: 29%;
        display: flex;
        flex-direction: column;
        margin: 1em;   
        opacity: 0;
        transition: opacity 0.4s ease-in;

        & a {
            display: block;
            width: 100%;
        }

        & img {
            display: block;
            height: auto;
            width: 100%;
        }

        body.loaded &{
            opacity: 1;
            animation: zoomin 0.5s ease-in;
        }
    }
}

@for $i from 1 through 6 {
    body.loaded .kites li:nth-child(#{$i}) {
        transition-delay: $i * 0.2s;
    }
}

@for $i from 1 through 6 {
    body.loaded .kites li:nth-child(#{$i}) {
        animation-delay: $i * 0.2s;
    }
}


@keyframes zoomin {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: translateX(1);
        opacity: 1;
    }
}



