.site {
    height: 100vh;
    @include bp(tablet) {
        height: 90vh;
    }

    &,
    &-main {
        display: flex;
        flex-direction: column;
    } 
}

.wrapper {
    max-width: 60em;
    margin: 2em auto;
    padding: 0 2em;
}

.header h2 {
    color: $secondary-text-color;
  }

a,
input {
    text-decoration: none;
    outline: none;
}

a:focus,
input:focus {
    border-bottom: 2px solid #144250;
}

li {
    list-style: none outside;
}

section {
    padding: 1em 0;
}

.site-footer {
    margin-top: auto;
}

