.site-nav {

    & ul {
        display: flex;
        padding: 0;
    }

    & li {
        padding: 0 0.5em;
        @include display(flex);
        position: relative;
        float: left;

        &:hover .nav-products {
            opacity: 1;
            pointer-events: all;
            transform: translate(0);
            @include bp(laptop) {
            }
        }
    }

    &.pages {
        display: flex;
        flex-grow: 1;
    }

    &.icons {
        display: flex;
        flex-grow: 1;
        justify-content: flex-end;
        padding: 0;

        & a {
            font-size: 0.9em;
            border-radius: 50%;
            @include bp(laptop) {
                font-size: 1.8em;
            }

            &:hover {
                background: $base-text-color;
                color: $secondary-text-color;
                box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.3);
                border-radius: 50%;
                
            }
        }   
    }

    & a  {
        @include display(flex);
        padding: 0.7em 0.7em;
        color: #000;
        font-weight: 600;
        transition: 0.3s;
    }

    &.pages a {
        border-bottom: 2px solid transparent;
        padding-bottom: 0;
        outline: none;
    }


    @media screen and (min-width: 960px) {
        & li.selected > a,
        &.pages a:hover,
        &.pages a:focus {
            border-bottom: 2px solid $base-text-color;
        }
    }

    & .nav-products {
        display: block;
        opacity: 0;
        pointer-events: none;
        transform: translateY(1rem);
        transition: opacity 0.3s ease-in, transform 0.3s ease-in;
        position: absolute;
        top: 100%; left: -10px;
        z-index: 200;
        padding: 0.5em;
        @include bp(laptop) {
            display: flex;
            flex-direction: column;
            align-items: center;
            opacity: 1;
            pointer-events: all;
            transition: none;
            transform: none;
            position: static; 
        }

        & li {
            background-color: rgba(255, 255, 255, 0.9);
            width: 5rem;
            margin: 0.2em;
            padding-bottom: 0.5em;
            @include bp(laptop) {
                background: none;
            }

            & a {
                @include bp(laptop) {
                    font-size: 2em;
                }
            }
        }
    }
}


/* Mobile nav logic */

.nav-toggle {
    opacity: 0;
    pointer-events: none;
    position: absolute;
}

.nav-toggle-button {
    display: none;
    margin-left: auto;

    & .open:after {
        display: block;
        content: '\f13a';
        @include font(icons);
        font-size: 1.5em;
    }

    & .close:after {
        display: block;
        content: '\f057';
        @include font(icons);
        font-size: 1.5em;
    }
}

@media (max-width: 960px) {
    .nav-toggle-button {
        display: block;
        margin-left: 0;
    }

    .site-header {
        justify-content: space-between;
    }

    .site-nav.icons,
    .site-title {
        flex-grow: 0;
    }

    .nav-toggle-button .close {
        display: none;
    }

    .site-nav.pages {
        display: none;
    }

    .site-nav.pages > ul {
        display: block;
    }

    .site-nav.pages > ul > li {
        display: block;
        float: none;
    }

    .site-nav.pages > ul > li > a {
        display: block;
        text-align: center;
        font-size: 2.2em;
    }

    .nav-toggle:checked + .site-header {
        display: flex;
        flex-wrap: wrap;
        position: fixed;
        top: 0; left: 0; bottom: 0; right: 0;
        width: 100vw;
        padding: 0.5em;
    }

    .nav-toggle:checked + .site-header .site-title {
        flex: 1 0 100%;
        text-align: center;
    }

    .nav-toggle:checked + .site-header .site-nav.pages {
        display: flex;
        justify-content: center;
        flex: 1 0 100%;
    } 

    .nav-toggle:checked + .site-header  .site-nav.pages li:hover .nav-products {
        left: 50px;
        top: -31%;
    }

    .nav-toggle:checked + .site-header  .site-nav.pages li:hover .nav-products li {
        background: transparent;
    }
    .nav-toggle:checked + .site-header .site-nav.icons {
        flex: 1 0 100%;
        justify-content: center;
    }

    .nav-toggle:checked + .site-header .nav-toggle-button {
        flex: 1 0 100%; 
    }

    .nav-toggle:checked + .site-header .nav-toggle-button .open:after {
        display: none;
    }

    .nav-toggle:checked + .site-header .nav-toggle-button .close {
        display: block;
        position: absolute;
        top: 15px;
        left: 10px;
    }
}