.our-team .header {
  background: url('../img/team.jpg') no-repeat center;
  background-size: cover;
  height: 500px;
  display: flex;
  align-items: center;  
  justify-content: center;

  & h2 {
    color: #FFF;
  }
}

.team {
  margin: 2em;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 5px;
  grid-auto-flow: dense;

  & li {
      position: relative;
      overflow: hidden;

    &::before {
      display: block;
      content: '';
      padding-top: 50%;
    }

    &:hover img {
      transform: scale(1.2);
    }

    & a {
      display: flex;
      position: absolute;
      top: 0; left: 0; right: 0; bottom: 0;
    }

    &.portrait {
      grid-column: span 1;
      grid-row: span 2;

      &::before {
        padding-top: 100%;
      }
    }
  }

  & span {
    display:block;
    position:absolute;
    bottom: 0; left: 0;
    z-index: 2;
    width:50%;
    color:white;
    padding:20px;
    background: linear-gradient(to right,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); 
  }

  & img {
    display: block;
    width: 100%;
    height: auto;
    transform: scale(1);
    transition: transform 0.2s linear;
  }
}

.team-description {
  max-width: 60rem;
  margin: 1rem auto;
  height: 400px;

  & .left {
    float: left;
    padding-right: 2rem;
  }

  & .right {
    float: right;
    padding-left: 2rem;
  }

  & img {
    display: block;
    width: 100%;
  }
}

.clear {
  display: block;
  content: '';
  clear: both;
}

.align-right {
  text-align: right;
}

@media screen and (max-width: 480px) {
    .team-pictures {
      display: none;
    }

    .team-description img {
      width: 50%;
      margin: 0 auto;
    }

    .team-description .right,
    .team-description .left {
      display: block;
      float: none;
      padding: 0;
    } 

    .team-description h3,
    .team-description p {
      text-align: center;
    }
}